
Photo Booth Excercise/Temp/workerlic
Photo Booth Excercise/Temp/UnityLockfile
Photo Booth Excercise/Temp/FSTimeGet-770699b30226336429fa40ea791b0e9b
Photo Booth Excercise/Temp/FSTimeGet-2712e0bcc55b352408f039de7f192183
Photo Booth Excercise/Temp/FSTimeGet-1439fbc03ad8a09449d1683b455411ca
Photo Booth Excercise/Logs/shadercompiler-UnityShaderCompiler.exe9.log
Photo Booth Excercise/Logs/shadercompiler-UnityShaderCompiler.exe8.log
Photo Booth Excercise/Logs/shadercompiler-UnityShaderCompiler.exe7.log
Photo Booth Excercise/Logs/shadercompiler-UnityShaderCompiler.exe6.log
Photo Booth Excercise/Logs/shadercompiler-UnityShaderCompiler.exe5.log
Photo Booth Excercise/Logs/shadercompiler-UnityShaderCompiler.exe4.log
Photo Booth Excercise/Logs/shadercompiler-UnityShaderCompiler.exe3.log
Photo Booth Excercise/Logs/shadercompiler-UnityShaderCompiler.exe2.log
Photo Booth Excercise/Logs/shadercompiler-UnityShaderCompiler.exe11.log
Photo Booth Excercise/Logs/shadercompiler-UnityShaderCompiler.exe10.log
Photo Booth Excercise/Logs/shadercompiler-UnityShaderCompiler.exe1.log
Photo Booth Excercise/Logs/shadercompiler-UnityShaderCompiler.exe0.log
Photo Booth Excercise/Logs/shadercompiler-AssetImportWorker0.log
Photo Booth Excercise/Logs/AssetImportWorker3-prev.log
Photo Booth Excercise/Logs/AssetImportWorker2-prev.log
Photo Booth Excercise/Logs/AssetImportWorker1.log
Photo Booth Excercise/Logs/AssetImportWorker1-prev.log
Photo Booth Excercise/Logs/AssetImportWorker0.log
Photo Booth Excercise/Logs/AssetImportWorker0-prev.log
Photo Booth Excercise/Library/SplashScreenCache/a1/a1fc3324d352f415697b431979616140
Photo Booth Excercise/Library/SourceAssetDB
Photo Booth Excercise/Library/SceneVisibilityState.asset
Photo Booth Excercise/Library/ilpp.pid
Photo Booth Excercise/Library/EditorInstance.json
Photo Booth Excercise/Library/Bee/TundraBuildState.state.map
Photo Booth Excercise/Library/Bee/TundraBuildState.state
Photo Booth Excercise/Library/Bee/tundra.log.json
Photo Booth Excercise/Library/Bee/tundra.digestcache
Photo Booth Excercise/Library/Bee/fullprofile.json
Photo Booth Excercise/Library/Bee/backend1.traceevents
Photo Booth Excercise/Library/Artifacts/29/29f10f4e356815e78c2532fe257ecc48
Photo Booth Excercise/Library/ArtifactDB
Photo Booth Excercise/.vs/Photo Booth Excercise/v16/.suo
Photo Booth Excercise/Logs/shadercompiler-UnityShaderCompiler.exe9.log
Photo Booth Excercise/Logs/shadercompiler-UnityShaderCompiler.exe8.log
Photo Booth Excercise/Logs/shadercompiler-UnityShaderCompiler.exe7.log
Photo Booth Excercise/Logs/shadercompiler-UnityShaderCompiler.exe6.log
Photo Booth Excercise/Logs/shadercompiler-UnityShaderCompiler.exe5.log
Photo Booth Excercise/Logs/shadercompiler-UnityShaderCompiler.exe4.log
Photo Booth Excercise/Logs/shadercompiler-UnityShaderCompiler.exe3.log
Photo Booth Excercise/Logs/shadercompiler-UnityShaderCompiler.exe2.log
Photo Booth Excercise/Logs/shadercompiler-UnityShaderCompiler.exe11.log
Photo Booth Excercise/Logs/shadercompiler-UnityShaderCompiler.exe10.log
Photo Booth Excercise/Logs/shadercompiler-UnityShaderCompiler.exe1.log
Photo Booth Excercise/Logs/shadercompiler-UnityShaderCompiler.exe0.log
Photo Booth Excercise/Logs/shadercompiler-AssetImportWorker0.log
Photo Booth Excercise/Logs/AssetImportWorker3-prev.log
Photo Booth Excercise/Logs/AssetImportWorker2-prev.log
Photo Booth Excercise/Logs/AssetImportWorker1.log
Photo Booth Excercise/Logs/AssetImportWorker1-prev.log
Photo Booth Excercise/Logs/AssetImportWorker0.log
Photo Booth Excercise/Logs/AssetImportWorker0-prev.log
Photo Booth Excercise/Library/SplashScreenCache/a1/a1fc3324d352f415697b431979616140
Photo Booth Excercise/Library/SourceAssetDB
Photo Booth Excercise/Library/SceneVisibilityState.asset
Photo Booth Excercise/Library/ilpp.pid
Photo Booth Excercise/Library/EditorInstance.json
Photo Booth Excercise/Library/Bee/TundraBuildState.state.map
Photo Booth Excercise/Library/Bee/TundraBuildState.state
Photo Booth Excercise/Library/Bee/tundra.log.json
Photo Booth Excercise/Library/Bee/tundra.digestcache
Photo Booth Excercise/Library/Bee/fullprofile.json
Photo Booth Excercise/Library/Bee/backend1.traceevents
Photo Booth Excercise/Library/Artifacts/29/29f10f4e356815e78c2532fe257ecc48
Photo Booth Excercise/Library/ArtifactDB
Photo Booth Excercise/.vs/Photo Booth Excercise/v16/.suo
